# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [206]:
import pandas as pd
from matplotlib import pyplot as plt
import requests
import json
import io

In [207]:
df_tae = pd.read_csv('twitter-archive-enhanced.csv')

df_tae.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
656,791780927877898241,NaN,NaN,2016-10-27 23:17:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Maddie. She gets some w...,7.467577e+17,4.196984e+09,2016-06-25 17:31:25 +0000,"https://vine.co/v/5BYq6hmrEI3,https://vine.co/...",11,10,Maddie,NaN,NaN,NaN,NaN
54,881666595344535552,NaN,NaN,2017-07-03 00:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gary. He couldn't miss this puppertuni...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881666595...,13,10,Gary,NaN,NaN,NaN,NaN
1908,674436901579923456,NaN,NaN,2015-12-09 03:54:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Bailey. She plays with her food. Very chi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674436901...,9,10,Bailey,NaN,NaN,NaN,NaN
1794,677328882937298944,NaN,NaN,2015-12-17 03:26:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. All the dogs adore Derek. He's ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677328882...,10,10,Derek,NaN,NaN,NaN,NaN
2161,669564461267722241,NaN,NaN,2015-11-25 17:13:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Coriander Baton Rouge named Alfredo....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669564461...,10,10,a,NaN,NaN,NaN,NaN

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [208]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

page = requests.get(url)
df_img = pd.read_csv(io.StringIO(page.content.decode('utf-8')), sep='\t')

with open('image-predictions.tsv', 'wb') as file:
    file.write(page.content)

df_img.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1527,788908386943430656,https://pbs.twimg.com/media/CvLD-mbWYAAFI8w.jpg,1,remote_control,0.881538,False,oscilloscope,0.035513,False,golden_retriever,0.034090,True
258,670780561024270336,https://pbs.twimg.com/media/CU8XW2dWwAA-Lmc.jpg,1,Labrador_retriever,0.244889,True,American_black_bear,0.056993,False,brown_bear,0.053993,False
1664,812466873996607488,https://pbs.twimg.com/media/C0Z2T_GWgAAxbL9.jpg,1,bath_towel,0.099804,False,pillow,0.092318,False,Great_Dane,0.078205,True
393,673583129559498752,https://pbs.twimg.com/media/CVkMRUeWsAA9bMh.jpg,1,Arctic_fox,0.153271,False,golden_retriever,0.113946,True,borzoi,0.110718,True
573,678424312106393600,https://pbs.twimg.com/media/CWo_T8gW4AAgJNo.jpg,1,Maltese_dog,0.759945,True,toy_poodle,0.101194,True,Shih-Tzu,0.056037,True

3. Getting the tweepy API data from the file in the classroom due to both hardware and software limitations(tweet-json.txt)

In [209]:
df_json = pd.read_json('tweet-json.txt', lines=True)
df_json.sample(5)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
564,2016-11-25 21:37:47+00:00,802265048156610565,802265048156610560,"Like doggo, like pupper version 2. Both 11/10 ...",False,"[0, 45]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 802265039247904768, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",7.331095e+17,...,7039,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2107,2015-11-28 03:49:14+00:00,670449342516494336,670449342516494336,Vibrant dog here. Fabulous tail. Only 2 legs t...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 670449329098895360, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,1264,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
356,2017-02-10 21:54:58+00:00,830173239259324417,830173239259324416,RT @dog_rates: This is Kyro. He's a Stratocumu...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,NaN,NaN,en,{'created_at': 'Thu Dec 15 02:14:29 +0000 2016...,NaN,NaN,NaN
1860,2015-12-11 21:51:30+00:00,675432746517426176,675432746517426176,Happy Friday. Here's some golden puppers. 12/1...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675432740347617280, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,1623,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1396,2016-02-17 02:02:25+00:00,699775878809702401,699775878809702400,Meet Fillup. Spaghetti is his main weakness. A...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 699775876779663360, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,2150,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [210]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(11)
memory usage: 505.9+ KB

In [211]:
df_tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Quality issues
1. Must filter for original tweets in the datasets.

2. Missing data in columns.

3. Retweets and replies are present in the twitter-archive-enhanced.csv dataset, but only original tweets with ratings are required.

4. Some columns have incorrect data types. Such as:
    - tweet_id should isn't a string.
    - id_str isn't a string.
    - timestamp isn't a datetime object

5. The `name` column contains invalid or placeholder values are not actual dog names.

6. There may be duplicate rows in the datasets.

7. Some tweets in the image-predictions.tsv file might have the same image.

8. Some tweets have missing values in the `favorite_count` and `retweet_count` columns.

### Tidiness issues
1. Some columns in the datasets are not relevant to the analysis. For example, columns like retweeted_status_id, retweeted_status_user_id, and in_reply_to_status_id are not needed after filtering for original tweets.

2. The doggo, floofer, pupper and puppo columns should be merged as a single dog type column.

3. Some columns don't have any data.

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [212]:
# Make copies of original pieces of data
df_json_clean = df_json.copy()
df_tae_clean = df_tae.copy()
df_img_clean = df_img.copy()

### Issue #1:

#### Define: Filtering for original tweets (not retweets or replies) by dropping any row whose retweeted_status_id & in_reply_to_status_id aren't null

#### Code

In [213]:
df_tae_clean = df_tae_clean[
    df_tae_clean['retweeted_status_id'].isnull() &
    df_tae_clean['in_reply_to_status_id'].isnull()
]

df_json_clean = df_json_clean[
    df_json_clean['retweeted_status'].isnull() &
    df_json_clean['in_reply_to_status_id'].isnull()
]

#### Test

In [214]:
# Check if there are any retweets or replies left
print(df_tae_clean['retweeted_status_id'].notnull().sum())      # Should be 0
print(df_tae_clean['in_reply_to_status_id'].notnull().sum())    # Should be 0
print(df_json_clean['retweeted_status'].notnull().sum())      # Should be 0
print(df_json_clean['in_reply_to_status_id'].notnull().sum())    # Should be 0

0
0
0
0

### Issue #2:

#### Define: Retweets and replies are present, but only original tweets with ratings are required so we will drop these columns.

#### Code

In [215]:
df_tae_clean.drop(columns=['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], inplace=True)
df_json_clean.drop(columns=['in_reply_to_status_id','in_reply_to_status_id_str','in_reply_to_user_id','in_reply_to_user_id_str','in_reply_to_screen_name','is_quote_status','retweeted','retweeted_status'], inplace=True)

#### Test

In [216]:
df_tae_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

In [217]:
df_json_clean.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'extended_entities', 'source', 'user',
       'geo', 'coordinates', 'place', 'contributors', 'retweet_count',
       'favorite_count', 'favorited', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang', 'quoted_status_id',
       'quoted_status_id_str', 'quoted_status'],
      dtype='object')

### Issue #3:

#### Define: Some columns don't have much data like geo, coordinates, etc, so we will drop columns that have too many null values

#### Code

In [218]:
# Remove empty columns.
df_json_clean.drop(columns=['geo', 'place', 'coordinates', 'contributors', 'quoted_status', 'quoted_status_id', 'quoted_status_id_str'], inplace=True)

#### Test

In [219]:
df_json_clean.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'extended_entities', 'source', 'user',
       'retweet_count', 'favorite_count', 'favorited', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang'],
      dtype='object')

### Issue #4:

#### Define: There may be duplicate rows in the dataset so we will drop them.

#### Code

In [220]:
df_img_clean.drop_duplicates(inplace=True)
df_tae_clean.drop_duplicates(inplace=True)

#### Test

In [221]:
df_tae_clean.duplicated().sum()  # Should be 0
df_img_clean.duplicated().sum()  # Should be 0

0

### Issue #5:

#### Define: Some image predictions have duplicate images, so we are going to drop them.

#### Code

In [222]:
df_img_clean.drop_duplicates(subset=['jpg_url'], inplace=True)

#### Test

In [223]:
df_img_clean['jpg_url'].duplicated().sum()  # Should be 0

0

### Issue #6:

#### Define: The `name` column contains invalid or placeholder values such as "None", "a", "an" that are not actual dog names, so we will replace these with the word `dog`.

#### Code

In [224]:
df_tae_clean['name'].replace(['None','a','an', None, pd.NA], 'dog', inplace=True)

C:\Users\Bro\AppData\Local\Temp\ipykernel_4988\2460443739.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_tae_clean['name'].replace(['None','a','an', None, pd.NA], 'dog', inplace=True)

#### Test

In [225]:
df_tae_clean['name'].isna().sum()

0

### Issue #7:

#### Define: Some tweets have missing values in the `favorite_count` and `retweet_count` columns, so we will replace them with zero.

#### Code

In [226]:
df_json_clean[['favorite_count','retweet_count']].fillna(0, inplace=True)

C:\Users\Bro\AppData\Local\Temp\ipykernel_4988\564390385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_json_clean[['favorite_count','retweet_count']].fillna(0, inplace=True)

#### Test

In [227]:
df_json_clean[['favorite_count','retweet_count']].isna().sum()  # Should be 0

favorite_count    0
retweet_count     0
dtype: int64

### Issue #8:

#### Define: The doggo, floofer, pupper and puppo columns should be merged as a single dog type column.

#### Code

In [228]:
# Combine doggo, floofer, pupper, puppo into a single 'dog_type' column
dog_type_cols = ['doggo', 'floofer', 'pupper', 'puppo']
df_tae_clean['dog_type'] = df_tae_clean[dog_type_cols].apply(lambda row: ','.join([col for col in dog_type_cols if row[col] == col]), axis=1)
df_tae_clean['dog_type'].replace('', pd.NA, inplace=True)
df_tae_clean.drop(columns=dog_type_cols, inplace=True)

C:\Users\Bro\AppData\Local\Temp\ipykernel_4988\2681865646.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_tae_clean['dog_type'].replace('', pd.NA, inplace=True)

#### Test

In [229]:
df_tae_clean['dog_type'].value_counts()

dog_type
pupper           221
doggo             72
puppo             23
floofer            9
doggo,pupper       9
doggo,puppo        1
doggo,floofer      1
Name: count, dtype: int64

### Issue #9:

#### Define: Some columns have incorrect data types such as "tweet_id", "id_str" and "timestamp", so we will correct them.

#### Code

In [230]:
# Convert tweet_id and id_str to string, and timestamp to datetime
df_tae_clean['tweet_id'] = df_tae_clean['tweet_id'].astype(str)
df_img_clean['tweet_id'] = df_img_clean['tweet_id'].astype(str)
df_json_clean['id_str'] = df_json_clean['id_str'].astype(str)

df_tae_clean['timestamp'] = pd.to_datetime(df_tae_clean['timestamp'])

#### Test

In [231]:
df_img_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2009 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2009 non-null   object
 1   jpg_url   2009 non-null   object
 2   img_num   2009 non-null   int64
 3   p1        2009 non-null   object
 4   p1_conf   2009 non-null   float64
 5   p1_dog    2009 non-null   bool
 6   p2        2009 non-null   object
 7   p2_conf   2009 non-null   float64
 8   p2_dog    2009 non-null   bool
 9   p3        2009 non-null   object
 10  p3_conf   2009 non-null   float64
 11  p3_dog    2009 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 162.8+ KB

In [232]:
df_json_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2097 entries, 0 to 2353
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2097 non-null   datetime64[ns, UTC]
 1   id                             2097 non-null   int64
 2   id_str                         2097 non-null   object
 3   full_text                      2097 non-null   object
 4   truncated                      2097 non-null   bool
 5   display_text_range             2097 non-null   object
 6   entities                       2097 non-null   object
 7   extended_entities              1971 non-null   object
 8   source                         2097 non-null   object
 9   user                           2097 non-null   object
 10  retweet_count                  2097 non-null   int64
 11  favorite_count                 2097 non-null   int64
 12  favorited                      2097 non-null   bool
 13  possibly_sensitive             2094 non-null   float64
 14  possibly_sensitive_appealable  2094 non-null   float64
 15  lang                           2097 non-null   object
dtypes: bool(2), datetime64[ns, UTC](1), float64(2), int64(3), object(8)
memory usage: 249.8+ KB

In [233]:
df_tae_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2097 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2097 non-null   object
 1   timestamp           2097 non-null   datetime64[ns, UTC]
 2   source              2097 non-null   object
 3   text                2097 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2097 non-null   int64
 6   rating_denominator  2097 non-null   int64
 7   name                2097 non-null   object
 8   dog_type            336 non-null    object
dtypes: datetime64[ns, UTC](1), int64(2), object(6)
memory usage: 163.8+ KB

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [234]:
# Merge the cleaned datasets on tweet_id
master_df = df_tae_clean.merge(df_img_clean, on='tweet_id', how='left').merge(
    df_json_clean[['id_str', 'retweet_count', 'favorite_count']], left_on='tweet_id', right_on='id_str', how='left'
)

# Drop the redundant 'id_str' column after merge
master_df.drop(columns=['id_str'], inplace=True)

# Save to CSV
master_df.to_csv('twitter_archive_master.csv', index=False)

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1.

2.

3.

### Visualization